<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventoryauditapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AuditSearchResultsPage"
            android:parentActivityName=".AuditSearchPage" />
        <activity
            android:name=".ModifyItemPage"
            android:parentActivityName=".InventorySearchResultsPage" />
        <activity
            android:name=".InventorySearchResultsPage"
            android:parentActivityName=".InventorySearchPage" />
        <activity
            android:name=".AboutPage"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".AuditSearchPage"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".InventorySearchPage"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".AddItemPage"
            android:parentActivityName=".InventorySearchResultsPage" />
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>